@import 'reset';
@import 'variables';
@import 'animations';

html {
	font-size: $regular-text;
}

body {
	font-family: $userfont;
	line-height: $lineheight;
	color: var(--text-color);
	min-height: 100vh;
	position: relative;
	background-color: var(--background-color);
	transition: .5s linear;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}
